<div class="title-info-so">
    <h3>{{ "modules.picking.title-info-so" | translate }} {{ noSaleOrder }}</h3><i
        class='bx bx-show-alt show-more-so'></i>
</div>

<div class="info-so">
    <div class="item-info-so">
        <label for="date-document">{{
            "modules.picking.label.date-document" | translate
            }}</label>
        <input id="date-document" type="text" [disabled]="true" />
    </div>

    <div class="item-info-so">
        <label for="date-delivery">{{
            "modules.picking.label.date-delivery" | translate
            }}</label>
        <input id="date-delivery" type="text" [disabled]="true" />
    </div>

    <div class="item-info-so">
        <label for="date-billing">{{
            "modules.picking.label.date-billing" | translate
            }}</label>
        <input id="date-billing" type="text" [disabled]="true" />
    </div>

    <div class="item-info-so">
        <label for="delivery-address">{{
            "modules.picking.label.delivery-address" | translate
            }}</label>
        <input id="delivery-address" type="text" [disabled]="true" />
    </div>

    <div class="item-info-so">
        <label for="customer-name">{{
            "modules.picking.label.customer-name" | translate
            }}</label>
        <input id="customer-name" type="text" [disabled]="true" />
    </div>

    <div class="item-info-so">
        <label for="customer-phone">{{
            "modules.picking.label.customer-phone" | translate
            }}</label>
        <input id="customer-phone" type="text" [disabled]="true" />
    </div>

    <div class="item-info-so">
        <label for="customer-email">{{
            "modules.picking.label.customer-email" | translate
            }}</label>
        <input id="customer-email" type="text" [disabled]="true" />
    </div>

    <div class="item-info-so">
        <label for="obs">{{ "modules.picking.label.obs" | translate }}</label>
        <input id="obs" type="text" [disabled]="true" />
    </div>
</div>