<h3>{{ "modules.picking.title-search-so" | translate }}</h3>
<div class="search-so">
    <input class="w-9" type="text" />
</div>
<div class="btns-search-so">
    <button class="btn-normal w-5">
        {{ "modules.picking.btn.search-so" | translate }}
    </button>
    <button class="btn-normal ">
        {{ "modules.picking.btn.clean-info-so-searched" | translate }}
    </button>
</div>
<div class="btns-navigate-so">
    <button class="btn-circular">
        {{ "modules.picking.btn.before-so" | translate }}
    </button>
    <button class="btn-circular">
        {{ "modules.picking.btn.next-so" | translate }}
    </button>
</div>