.home-section {
  background: var(--very-like);
  height: 100vh;
  width: 100%;
}

.home-section .home-content {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: var(--primary-color);
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

@media (min-width: 1700px) {
  .home-section {
    margin: 0 auto;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5%;
  color: rgb(135, 148, 148);
}

/* ----------------- */

.contain-form {
  width: 300px;
  margin: 80px 100px;
}

.options {
  text-align: center;
  margin: 16px;
}

.options button {
  padding: 12px 40px;
  margin-bottom: 8px;
}