<span class="text">{{ "modules.picking.title-page" | translate }}</span>

<div class="info-saleorder">
    <!-- Search Sale Order -->
    <app-card-primary [width]="'w-10'" [height]="'h-3'">
        <app-saleorder-search></app-saleorder-search>
    </app-card-primary>
    <!-- Sale Order Information -->
    <app-card-primary [width]="'w-9'" [height]="'h-3'">
        <app-saleorder-info></app-saleorder-info>
    </app-card-primary>
</div>
<div class="info-picking">
    <!-- Pickign List -->
    <app-card-primary [width]="'w-10'" [height]="'h-5'">
        <app-picking-list></app-picking-list>
    </app-card-primary>
    <!-- Picking Indicators -->
    <app-card-primary [width]="'w-9'" [height]="'h-5'">
        <app-indicator></app-indicator>
    </app-card-primary>
</div>