.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--very-white);
  z-index: 100;
  transition: all 0.5s ease;
  border-radius: 0px 20px 20px 0px;
  z-index: 10;
  -webkit-box-shadow: 6px 0px 15px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 0px 15px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 0px 15px -8px rgba(0, 0, 0, 0.75);
}

.sidebar.close {
  width: 78px;
}

.sidebar.close~.home-section {
  left: 78px;
  width: calc(100% - 78px);
}

/* logo */

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: var(--primary-color);
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo-name {
  font-size: 22px;
  color: var(--primary-color);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo-name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

/* links */

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: var(--primary-color-hover);
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: var(--primary-color-hover);
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: var(--primary-color);
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link-name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link-name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  min-width: 260px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color-hover);
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0px 10px;
  background: var(--primary-color-hover);
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
  margin: 0px 3px;
}

.sidebar .profile-details .profile-name {
  cursor: pointer;
}

.sidebar .profile-details .profile-name,
.sidebar .profile-details .job {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile-name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .job {
  font-size: 12px;
}

/* Home Section */

.home-section {
  position: relative;
  background: var(--very-like);
  height: 100vh;
  left: 260px;
  width: calc(100% - 270px);
  transition: all 0.5s ease;
  margin: 0;
  max-width: 1500px;
}

.sidebar.close~.home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: var(--primary-color);
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

@media (min-width: 1700px) {
  .home-section {
    margin: 0 auto;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5%;
  color: rgb(135, 148, 148);
}